<!DOCTYPE html>
<html>
<head>
  <title>Rails sync</title>
  <%= stylesheet_link_tag    "rails_sync/application", media: "all" %>
  <%= javascript_include_tag "rails_sync/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
